<!doctype html>
<html lang="en" ng-app="app">
<head>
	<meta charset="UTF-8">
	<title>Contacts</title>
	<link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="styles/style.css">
	<link rel="stylesheet" type="text/css" href="styles/ngProgress.css">
	<link rel="stylesheet" type="text/css" href="styles/loading-bar.css">
	<link rel="stylesheet" type="text/css" href="styles/xeditable.css">
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.11.0/ui-bootstrap-tpls.min.js"></script>
	<script type="text/javascript" src="components/angular-route.js"></script>
	<script type="text/javascript" src="components/angular-resource.js"></script>
	<script type="text/javascript" src="components/ngProgress.js"></script>
	<script type="text/javascript" src="components/loading-bar.js"></script>
	<script type="text/javascript" src="components/xeditable.js"></script>
	<script type="text/javascript" src="filters/filters.js"></script>
	<script type="text/javascript" src="filters/leaveOnlyId.js"></script>
	<script type="text/javascript" src="app.js"></script>
	<script type="text/javascript" src="providers/authProvider.js"></script>
	<script type="text/javascript" src="config.js"></script>
	<script type="text/javascript" src="services/jsonToGdata.js"></script>
	<script type="text/javascript" src="factories/googleResource.js"></script>
	<script type="text/javascript" src="factories/userContactsResource.js"></script>
	<script type="text/javascript" src="factories/userPhotoResource.js"></script>
	<script type="text/javascript" src="factories/userGroupsResource.js"></script>
	<script type="text/javascript" src="factories/logout.js"></script>
	<script type="text/javascript" src="controllers/contactsCtrl.js"></script>
	<script type="text/javascript" src="controllers/detailedContactCtrl.js"></script>
	<script type="text/javascript" src="controllers/contactsAddingCtrl.js"></script>
	<script type="text/javascript" src="directives/pagination/pagination.js"></script>
	<script type="text/javascript" src="directives/groupNameModal/groupNameModal.js"></script>
	<script type="text/javascript" src="directives/confirmationModal/confirmationModal.js"></script>
	<script type="text/javascript" src="controllers/logCtrl.js"></script>
</head>
<body>
<div class="container-fluid">
	<nav class="navbar navbar-default" role="navigation">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="#/contacts">Contacts</a>
	    </div>
	       <ul class="nav navbar-nav navbar-right" id="logMenu">
	       	<li class="dropdown logMenuSmallRes">
	       		<a data-toggle="dropdown" class="dropdown-toggle" data-parent="#logMenu" href=""><i class="fa fa-list fa-2x"></i></a>
	       		<ul class="dropdown-menu" id="section">
	            	<li><a href="#/loggedout" ng-click="logout.get()">Log Out</a></li>
	          	</ul>
	       	</li>

	        <li class="dropdown disabledOn768width">
	          <a href="" class="dropdown-toggle" data-toggle="dropdown"><img ng-src="{{user.image?user.image.url:'images/empty50.jpg'}}" class="img-rounded"> {{user.name.givenName}} {{user.name.familyName}}<b class="caret"></b></a>
	          <ul class="dropdown-menu">
	            <li><a href="#/loggedout" ng-click="logout.get()">Log Out</a></li>
	          </ul>
	        </li>
	      </ul>
	  </div>
	</nav>
	<div class="container-fluid" ng-view>
	</div>
</div>
</body>
</html>