<div class='container-fluid row'>
	<div class='container-fluid col-xs-6 col-xs-offset-3'>
		<h1>Add new Contact</h1>
		<div class="displayWidth"><p class='addInfoLabels'>Name</p><input class='addInfoInput'type="text">{{postData.gd$name.gd$fullName.$t}}</input><div>
		<div class="displayWidth"><p class='addInfoLabels'>E-mail</p><input ng-repeat='email in $scope.postData.gd$email[$index]' class='addInfoInput' type="text">{{email.$t}}</input><a href="" ng-click='addNewEmailInput()'<i class="fa fa-plus plusBtn"></i></a><div>
		<div class="displayWidth"><p class='addInfoLabels'>Phone</p><input class='addInfoInput' type="text"></input><a href=""><i class="fa fa-plus plusBtn"></i></a><div>
		<div class="displayWidth"><p class='addInfoLabels'>Post</p><input class='addInfoInput' type="text"></input><a href=""><i class="fa fa-plus plusBtn"></i></a><div>
		<div class="displayWidth"><p class='addInfoLabels'>Birthday</p><input class='addInfoInput' type="text"></input><div>
		<div class="displayWidth"><p class='addInfoLabels'>URL</p><input class='addInfoInput' type="text"></input><a href=""><i class="fa fa-plus plusBtn"></i></a><div>
		<a class='sendDataBtn btn btn-primary' href="">Add contact</a>
	</div>
</div>