<ul class="nav nav-pills">
	<li ng-click="selectAllContacts()"><a href=""><i class="fa fa-check-square-o"></i></a></li>
	<li><a href=""><i class="fa fa-plus"></i></a></li>
	<li><a href=""><i class="fa fa-sort-amount-desc"></i></a></li>
	<li confirmation-modal ng-show="isContactsSelected()" title='modalContactsDeleteTitle()' save-callback="deleteContacts"><a href=""><i class="fa fa-trash-o"></i></a></li>
	<input type="text" placeholder="filter..." ng-model="filter['q']">
	<paginate class="myPaginate" total-items="contacts.feed.openSearch$totalResults.$t" items-per-page="contacts.feed.openSearch$itemsPerPage.$t" current-page="filter['page']"></paginate>
</ul>

<ul class="nav nav-tabs groupTabs">
<li ng-class="{active: !filter.group}" ng-click="filterByGroup()"><a href="">All contacts</a></li>
<li ng-class="{active: group.id.$t == filter.group, dropdown: !group.gContact$systemGroup}" ng-repeat="group in groups" ng-click="filterByGroup(group.id.$t);" dropdown>
	<a href="">{{group.title.$t}}
		<button class="btn-link dropdown-toggle" ng-hide="group.gContact$systemGroup" ng-click="$event.stopPropagation()"><b class="caret"></b></button>
  	</a>
  	<ul class="dropdown-menu" role="menu" ng-click="$event.stopPropagation()">
        <li group-name-modal title="Edit existing group" group="group" save-callback="saveOrDeleteGroup"><a href="">Edit group</a></li>
        <li confirmation-modal modal="group" save-callback="deleteGroup"><a href="">Delete group</a></li>
    </ul>
</li>
<li group-name-modal title="Add new group" group="emptyGroup" save-callback="saveGroup" class="addButton"><a href="">+</a></li>
</ul>

<div class="list container-fluid">
	<div class="listHeader listRow row disabledOn576width">
		<div class="col-sm-4 col-xs-5 listTitle">Contact Name:</div>
		<div class="col-sm-3 col-xs-3 listTitle">E-mail:</div>
		<div class="col-sm-5 col-xs-4 listTitle">Phone number:</div>
	</div>
	<div class="listBody container-fluid" ng-click="$event.stopPropagation()">
		<div ng-repeat="contact in contacts.feed.entry" class="listRow row">
			<a class="displayBlock" href="#/contacts/{{contact.id.$t | leaveOnlyId}}">
				<div class="listName col-sm-4 col-xs-4"><input class="userName disabledOn576width" id="contact{{contact.id.$t | leaveOnlyId}}" type="checkbox" ng-model="contact.isChecked" ng-change="onSelectContactCallback($index)">{{contact.title.$t}}</div>
				<div class="listEmail col-sm-3 col-xs-4"><div ng-repeat="email in contact.gd$email">{{email.address}}</div></div>
				<div class="listPhone col-sm-3 col-xs-4"><div class="phone inline-block" ng-repeat="phone in contact.gd$phoneNumber">{{phone.$t}}</div></div>
				<div class="listGroups col-sm-2 disabledOn1080width"><span class="label label-info groupLabel" ng-repeat="group in contact.gContact$groupMembershipInfo">{{getGroupTitle(group.href)}}</span></div>
			</a>
		</div>
	</div>
</div>

<!-- 
<label class="userNameLabel"for="user-name{{$index}}">{{contact.title.$t}}</label> 

ng-click="deleteGroups(group.id.$t)"

ng-click="deleteContacts()"



 -->