<ul class="nav nav-pills">
	<li><a href="">Select All</a></li>
	<li><a href="">Add new</a></li>
	<li class="dropdown">
		<a class="dropdown-toggle" data-toggle="dropdown" href="">More...<b class="caret"></b></a>
			<ul class="nav dropdown-menu">
				<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="">Sort contacts by...</a></li>
					<ul class="dropdown-menu">
						<li><a href="">..name</a></li>
						<li><a href="">..phone number</a></li>
					</ul>
				<li><a href="">Delete contacts</a></li>
			</ul>
	</li>
	<li><input type="text" placeholder="filter"></li>
</ul>

<table class="table table-hover">
	<thead>
		<tr>
			<th>Contact names:</th>
			<th>E-mails:</th>
			<th>Phone numbers:</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="contact in contacts.feed.entry" ng-href="#/contacts/{{contact.id.$t | leaveOnlyId}}">
			<td>
				<input type="checkbox">
				<a class="item" href="#/contacts/{{contact.id.$t | leaveOnlyId}}">{{contact.title.$t}}</a>
			</td>
			<td><div ng-repeat="email in contact.gd$email">{{email.address}}</div></td>
			<td><div class="inline-block" ng-repeat="phone in contact.gd$phoneNumber"><div class="divider">{{phone.$t}}</div></div></td>
		</tr>
	</tbody>
	<pagination totalitems="contacts.feed.openSearch$totalResults.$t" itemsperpage="contacts.feed.openSearch$itemsPerPage.$t" startindex="contacts.feed.openSearch$startIndex.$t">
	</pagination>
</table>

