<div class="container-fluid">

	<ul class="nav nav-pills">
		<li><a href="#/contacts"><i class="fa fa-arrow-left"></i></a></li>
		<li ng-show="userId == 'add' && detailedContact.entry.title.$t"><a href=""><i class="fa fa-floppy-o"></i></a></li>
		<li ng-hide="userId == 'add'"><a href=""><i class="fa fa-trash-o"></i></a></li>
	</ul>
	<div class="segment row">

		<div class="col-md-2">
			<img ng-src="images/empty.jpg" class="img-rounded">
		</div>
		<div class="col-md-4">
			<h3 ng-show="userId == 'add'">Add new contact</h3>
			<h1 class='editable editable-click' editable-text="detailedContact.entry.title.$t">{{detailedContact.entry.title.$t || 'Click to add name'}}</h1>
			<br>
			<span class="label label-info groupLabel" ng-repeat="group in detailedContact.entry.gContact$groupMembershipInfo">{{getGroupTitle(group.href)}}</span>
			<br>
			<h3 ng-repeat="email in detailedContact.entry.gd$email" editable-text="email.address">{{email.address || 'Click to enter e-mail'}}</h3>
			<ul class="contactPhones">
				<li ng-repeat="phone in detailedContact.entry.gd$phoneNumber" editable-text="phone.$t">{{phone.$t || 'Click to enter phone'}}</li>
			</ul>
		</div>
		<div class="col-md-6 connectionsField disabledOn576width">
			<div class="connectionsAvailable"><img class="socNetImage img-rounded" src="images/googleSmall.png"><strong>Google+:</strong> not connected</div>
			<div class="connectionsAvailable"><img class="socNetImage img-rounded" src="images/twitterSmall.png"><strong>Twitter:</strong> not connected</div>
			<div class="connectionsAvailable"><img class="socNetImage img-rounded" src="images/instagramSmall.png"><strong>Instagram:</strong> not connected</div>
		</div>
	</div>
	<div class="segment row">
		<div class="col-md-4 col-md-offset-2">
			<div class="contactInputField row">

					<div>
					<label class="contactInfoLabel">Post:</label><a ng-repeat='address in detailedContact.entry.gd$structuredPostalAddress' href="" editable-text="address.gd$formattedAddress.$t">{{address.gd$formattedAddress.$t || 'click to add'}}</a></div>
					<div>
					<label class="contactInfoLabel">Birthday:</label><a href="" editable-text="detailedContact.entry.gContact$birthday.when">{{detailedContact.entry.gContact$birthday.when || 'click to add'}}</a></div>
					<div>
					<label class="contactInfoLabel">URL:</label><a ng-repeat='url in detailedContact.entry.gContact$website' href="" editable-text="url.href">{{url.href || 'click to add'}}</a></div>
					<div ng-repeat='userInfo in detailedContact.entry.gContact$userDefinedField'>
					<label class="contactInfoLabel" editable-text="userInfo.key">{{userInfo.key}}:</label><a href="" editable-text="userInfo.value">{{userInfo.value || 'click to add'}}</a></div>

			</div>
		</div>
		<div class="col-md-6">
			<textarea type="text" class="bigNote" placeholder="Add a note">{{detailedContact.entry.content.$t}}</textarea>
		</div>
	</div>
</div>