a {
	color: #545454
}
a:hover {
	color: #545454;
	text-decoration: none;
}
.inline-block{
	display: inline-block;
}
.divider {
	height: 80%;
	border-left: 2px dotted grey;
	margin-left: 15px;
	padding-left: 5px;
}