a {
	color:#545454;
}
a:hover {
	color: #545454;
	text-decoration: none;
}
.displayWidth {
	width: 100%;
}
.navbar-brand {
	padding: 30px;
	font-size: 24px;
}
/*#fixed {
    height: 600px;
    overflow: auto;
    border: 1px solid blue;
}*/
.inline-block{
	display: inline-block;
}
.myPaginate{
	float: right;
	margin-top: 10px;
}
.groupTabs > li > a > button.btn-link {
	padding-top: 0px;
	padding-bottom: 0px;
	border: none;
}
.groupTabs > li.open>a {
	background-color: white;
	border: 1px solid #eee;
}
.groupTabs > li > a.groupTitle {
	padding-right: 6px;
}
.groupTabs > li.open>a:hover {
	border: 1px solid #eee
}
.divider {
	height: 80%;
	border-left: 2px dotted grey;
	margin-left: 15px;
	padding-left: 5px;
}
li.logMenuSmallRes {
	display: none;
}
ul.pagination{
	margin: 0px;
}
.pagination>li>a {
	padding: 1px 8px;
	color: #545454;
}
.pagination>.active>a {
	background-color: #545454;
	border-color: #545454;
}
.pagination>.active>a:hover{
	background-color: #D4D4D4;
	border-color: #D4D4D4;
}
.displayBlock{
	display: block;
	width: 100%;
}
.lastToolbarPoint {
	margin-right: 30px;
}
.list {
	padding-top: 20px;
}
.listRow{
	border-bottom: 1px solid #D4D4D4;
}
.listRow > a {
	float: left;
	padding-top: 1px
	padding-bottom: 2px;
	z-index: 5;
}
.listRow > a:hover{
	background-color: #E8E8E8;
}

.listHeader{
	padding-bottom: 15px;
	height: 30px;
}
.listTitle{
	font-size: 18px;
	font-weight: 800;
}
.listName {
	color: black;
}
.listEmail {
	color: #8C8C8C;
}
.listPhone{
	color: #8C8C8C;
}
.phone{
	padding-right: 20px;
}
.groupLabel {
	margin-right: 14px;
}
input.userName{
	position: relative;
	margin-right: 10px;
	top: 2px;
	z-index: 10;
}
label.userNameLabel{
	font-weight: 400;
	cursor: pointer;
}
input[type=text].filterInput{
	margin-top: 7px;
	margin-left: 30px;
}
.connectionsField{
	border-left: 1px solid #D4D4D4;
}
.connectionsAvailable{
	padding: 8px;
	color: black;
	font-size: 15px;
}
.socNetImage{
	padding: 7px;
}
.segment{
	padding-bottom: 50px;
	padding-top: 25px;
	margin: 20px;
	border-bottom: 1px dotted grey;
}
.segment:last-child{
	border-bottom: none;
}
label.contactInfoLabel{
	margin-right: 20px;
	font-weight: 400;
	padding: 8px 0px 0px 0px;
}
.contactInfo{
	width: 100%;
}
.bigNote{
	width: 100%;
	min-height: 150px;
	resize: none;
}
textarea::-webkit-input-placeholder{
	color: #D4D4D4;
}
.contactInputField{
	padding-bottom: 50px;
}
.contactPhones{
	padding-top: 15px;
}
li.addButton > a{
	font-size: 21px;
	padding-top: 5px;
	padding-bottom: 5px;
	/*border-top: 1px solid #5bc0de;
	border-left: 1px solid #5bc0de;
	border-right: 1px solid #5bc0de;*/
}

li > a.groupName {

}
li > a.groupCaret {
	position: absolute;
	width: 17px;
	padding: 11px 0px 9px 2px;
	margin: 0px;
	top: 0px;
}
.nav-tabs>li.active>a.groupCaret {
	border-right: none;
}
input.modalInput {
	margin: 0px;
	width: 100%;
}
.modal-footer{
	padding: 10px 12px 12px;
	margin: 0px;
}
.modal-header{
	padding: 10px;
}
.modal-body{
	padding: 12px;
}
.modal-dialog{
	margin: 190px auto;
}
a.modal-contacts-link {
	font-weight: 700;
}
a.modal-contacts-link:last-child > span {
	display: none;
}
h1.editable-click, h3.editable-click, li.editable-click {
	border-bottom: none;
}
.addInfoInput {
	width: 300px;
}

p.addInfoLabels {
	margin: 20px 0 5px;
}
.sendDataBtn {
	margin-top: 20px;
}
.plusBtn {
	margin-left: 10px;
}
span.editable-wrap {
	display: block;
	width: 75%;
}





















@media screen and (max-width: 1080px) {
	.disabledOn1080width {
		display: none;
	}
}
@media screen and (max-width: 768px) {
	.disabledOn768width {
		display: none;
	}
	li.disabledOn768width {
		display: none;
	}
	.myPaginate {
		float: left;
	}
	li.logMenuSmallRes {
		display: block;
		float: right;
		padding-right: 15px;
	}
	#logMenu {
		position: absolute;
		width: 100%;
		top: 3px;
		margin: 0px;
		right: -15px;
	}
	.navbar-brand {
		padding: 17px;
	}
	#section > li > a {
		background-color: grey;
		color: white;
	}
	.logMenuSmallRes > a {
		float: right;
	}
}
@media screen and (max-width: 576px) {
	.container-fluid{
		padding-left: 7px;
		padding-right: 7px;
	}
	.disabledOn576width {
		display: none;
	}
	label.userNameLabel{
		font-size: 23px;
	}
	.listName{
		width: 100%;
	}
	.listEmail{
		width: 100%;
		margin: 0px 0px 10px 0px;
	}
	.listPhone{
		width: 100%;
	}
	.listRow > a {
		height: 100px;
		overflow: hidden;
	}
	.phone {
		margin: 0px 20px 0px 0px;
		padding: 0px;
	}
}
